body {
    margin: 0;
    padding: 20px;
    font-family: Tahoma, sans-serif;
    font-size: 18px;
}

.video-wrapper {
    max-width: 800px;
    margin:0 auto;
}

video {
    width: 100%;
    height: auto;
}